<div class="card">
    <h2>{{card_title}}</h2>
    <input autocomplete="off" id="list_name" type="text" placeholder="Title" [(ngModel)]="new_list_name">
    
    <textarea id="list_desc" placeholder="Description" [(ngModel)]="new_list_desc"></textarea>
    
    <div class="btns">
        <button 
            style="background-color: #32d9b2; color:white" 
            (click)="createList()"
            [ngClass]="{'disable': new_list_name.length<3}">
            {{action_name}}
        </button>
        <button style="background-color: rgba(53, 54, 58, 0.905); color:white" (click)="dialogClose()">Close</button>
    </div>
</div>